body{
    font-family: 'Nunito', sans-serif;  
    background: #f5d9df; 
}
#mainNavbar .navbar-brand
{
   color: #ea1c2e;
  
  
   /* for candy,fotnwieght-100 */
}
#mainNavbar.nav-link{
    color:white;
}
#mainNavbar.nav-link:hover{
    color: #ea1c2e;
}
#mainNavbar
{
    font-size: 1.5rem;
    font-weight: 100; 
/* reaming navs ni change cheyyali font size and font weight athanu everything in navbar makes fs and fw same here */
}
/* navbar ko fix krna hein to fixed-top we can say but our content is scrolling */
/* we have to see the text and image regular container goes some part of the screen fluid continer goes all the way across the screen */
#headinggroup span
{
   color:#ee2020;
}
#headinggroup h1
{  
    font-weight: 100;
    font-size:4rem;
    /* he will do trail and hit to know our text is not scaling that the next problem*/
    /* color:#ee2020; */
}
/* mquery helps to breakpoint un need to specify to which part u want to apply even its body u need to mention it */
 @media (max-width: 1200px) { 
   
    #headinggroup h1
    {  
    font-weight: 100;
    font-size:2rem;
   
    /* he will do trail and hit to know our text is not scaling that the next problem*/
    /* color:#ee2020; */
    }
} 
.bulb h2{
    color:#ea1c2c;
    font-weight:100;
    font-size:2.5rem;
  /* now paracan be selected to select it withdivs names  class peru mundu aiyna venakatala aiyna pettochu*/
}
.bulb p{
   color:#f498b8;
    font-weight:100;
    font-size:1.25rem; 
 line-height:2;
 
    /* now paracan be selected to select it withdivs names */
}
/* we have to work on the margin b/w section u can also make same secion and use differeent rows no need to make the new  section */
/* lets see it  */
/* under the name content */
 .content
 {
     margin-top:100px;
     margin-bottom:100px;
 }
.navbar.scrolled{
    background-color: rgb(222,192,222);
    transition: background 1s;
    /* its a shorthand proprty anta but i dont know y its shoeing me red color */
}